.banner {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120px 0;
}
.container {
  width: 700px;
  margin: 50px auto;
  }

  h2 {
    color: #A0A0A0;
    font-weight: normal;
  }
  h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  a {
    font-size: 20px;
    color: #A0A0A0;
    background-color: #e9e9e9;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Peralta', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
  }

a:hover {
color: white;
background-color: rgb(163, 163, 163);
}

  @media(max-width: 992px) {
    .container {
      width: 700px;
    }
  }
